/* */

@media screen and (max-width: 1000px){
    .doc_contents{
        display: none !important;
    }
}

.home_body{
    background: rgb(22, 27, 34);
    padding: 20px 0px;
    position: relative;
}

.introduction{
    width: 90%;
    max-width: 900px;
    justify-self: center;
    color: white;
}

.introduction h2{
    font-size: 200%;
}

.glitchBar{
    margin-top: -20px;
    height: 100%;
    width: 2px;
    background: rgb(227, 237, 125);
    position: absolute;
    z-index: 1;
}

.stat_grid{
    display: grid;
    grid: 150px / auto auto auto;
}

.stat_grid > div{
    text-align: center;
}

.bignumber{
    font-size: 200%;
    color: rgb(0, 119, 255);
    font-weight: bold;
}

.link{
    color: rgb(0, 119, 255);
}

.code_like p{
    font-family: 'Courier New', Courier, monospace !important;
    background: rgb(250, 250, 250);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.code_like a{
    font-family: 'Courier New', Courier, monospace !important;
}

.code_like b{
    font-family: 'Courier New', Courier, monospace !important;
}

.yes_btn{
    text-decoration: none;
    color: green;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, 0);
    border-radius: 4px;
    width: 10px;
}

.yes_btn:hover{
    border-color: green;
}

.no_btn{
    text-decoration: none;
    color: red;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, 0);
    border-radius: 4px;
    width: 10px;
}

.no_btn:hover{
    border-color: red;
}