
#footer{
    padding: 30px;
    background: rgb(12, 24, 56);
    justify-self: center;
    border-radius: 10px;
    color: lightgray;
}


.footerbar{
    width: 78%;
    justify-self: right;
    height: 1px;
    background: lightgray;
}